<div xmlns="http://www.w3.org/1999/xhtml">
        {% loop incl in ValueSet.compose.include %}
            <p>
                The following codes from the <code>{{ incl.system }}</code> code system are included:
            </p>
            <table class="table-striped table table-bordered">
                <tr>
                    <th>Code</th>
                    <th>Description(s)</th>
                </tr>
                {% loop concept in incl.concept %}
                    <tr>
                        <td><code>{{ concept.code }}</code></td>
                        <td>
                            {% if concept.designation %}
                                <ul>
                                    <li>Default: {{ concept.display }}</li>
                                    {% loop designation in concept.designation %}
                                    <li>
                                        <code>{{ designation.language }}</code>:
                                        {{ designation.value }}
                                    </li>
                                    {% endloop %}
                                </ul>
                            {% else %}
                                {{ concept.display }}
                            {% endif %}
                        </td>
                    </tr>
                {% endloop %}
            </table>
        {% endloop %}
</div>